<html>
    <head>
        <title>ADVANDB MCO3</title>
        <script src="<%=context%>/libraries/jquery/jquery-3.2.1.js" type="application/javascript"> </script>
        <script> 
            var context = "<%=context%>"; 
        </script>
        <script src="<%=context%>/scripts/samp.js" type="application/javascript"> </script>
        <script src="<%=context%>/scripts/eventListeners.js" type="application/javascript"></script>
        <link rel='stylesheet' href='<%=context%>/stylesheet/style.css'></link>
    </head>
    <body>
        <form action='submitQuery' method='POST' id='submitQueryForm'>
            <input id="newQuery" name="newQuery" style="display:none;">
            <input id="actionType" name="actionType" style="display:none;">
            <input id="node" name="node" style="display:none;">
            <input id="abort" name="abort" style="display:none;">
        <div id='container'>
            <header id='header'>
                <p id='header_text'>ADVANDB MCO3: Distributed Databases</p>
            </header>
            <section id='body'>
                <div id='transaction_controls_div'>
                    <p class='sect_titles'>TRANSACTION CONTROLS</p>
                    
                    <% for(var i=0;i<3;i++) { %>
                        <input type='<%=input_type[1]%>' name='transaction_<%=input_type[1]%>' class='trans_<%=input_type[1]%>' id='trans_chkBox_<%=i+1%>'>
                        <label for='trans_<%=input_type[1]%><%=i+1%>'>Case <%=i+1%></label>
                    <% } %>
                    
                    <input type='checkbox' name='abort_checkbox' value='Abort' id = "abortCB">
                    <label for='abort_checkbox'>Abort</label>

                    <button id='trans_run_btn' name='trans_run' type='submit'>RUN</button>
                </div>
                <div id='transaction_details_div'>
                    <br>
                    
                    <% for(var i=0;i<3;i++) { %>
                        <div id='trans<%=i+1%>_details_div' class='trans_details'>
                            <p class='transDeets_titles'>Case <%=i+1%></p>
                            
                            <label for='case<%=i+1%>_action_dropdown'>Transaction: </label>
                            <select id='case<%=i+1%>_action_dropdown' name='case<%=i+1%>_action_dropdown' class='action_dropdowns'>
                                <% for(var j=0;j<transactions[i].length;j++) { %>
                                    <option value='<%=transactions[i][j]%>'><%=transactions[i][j]%></option>
                                <% } %>
                            </select><br><br>
                            
                            <label for='case<%=i+1%>_area_dropdown'>Area: </label>
                            <select id='case<%=i+1%>_area_dropdown' name='case<%=i+1%>_area_dropdown' class='area_dropdowns'>
                                <% for(var j=0;j<areas.length;j++) { %>
                                    <option value='<%=areas_tables[j]%>'><%=areas[j]%></option>
                                <% } %>
                            </select><br><br>
                            
                            <div class='select_action actions case<%=i+1%>_actions' id='case<%=i+1%>_selectDiv'><br>
                                <input type='button' class='case<%=i+1%>_filterAdd_select' name='case<%=i+1%>_filterAdd_select' value='Add Filtering Option' colName = '<%=columnNames%>' op='<%=operators%>'>
                                <div class='filter_options case<%=i+1%>_filters_select'>
                                    
                                </div>
                            </div>
                            
                            <div class='insert_action actions case<%=i+1%>_actions' id='case<%=i+1%>_insertDiv'>
                                <% for(var j=1;j<columnNames.length;j++) { %>
                                    <label><%=columnNames[j]%>: </label>
                                    <input type='text' name='case<%=i+1%>_insert_<%=columnNames[j]%>' id='case<%=i+1%>_insert_<%=columnNames[j]%>'><br>
                                <% } %>   
                            </div>
                            
                            <div class='update_action actions case<%=i+1%>_actions' id='case<%=i+1%>_updateDiv'>
                                 <% for(var j=1;j<columnNames.length;j++) { %>
                                    <label><%=columnNames[j]%>: </label>
                                    <input type='text' name='case<%=i+1%>_update_<%=columnNames[j]%>' id='case<%=i+1%>_update_<%=columnNames[j]%>'><br>
                                <% } %><br>
                                <input type='button' class='case<%=i+1%>_filterAdd_update' name='case<%=i+1%>_filterAdd_update' value='Add Filtering Option' colName = '<%=columnNames%>' op='<%=operators%>'>
                                <div class='filter_options case<%=i+1%>_filters_update'>
                                    
                                </div>
                            </div>
                            
                            <div class='delete_action actions case<%=i+1%>_actions' id='case<%=i+1%>_deleteDiv'><br>
                                <input type='button' class='case<%=i+1%>_filterAdd_delete' name='case<%=i+1%>_filterAdd_delete' value='Add Filtering Option' colName = '<%=columnNames%>' op='<%=operators%>'>
                                <div class='filter_options case<%=i+1%>_filters_delete'>
                                    
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div id='console_div'>
                    <p class='sect_titles'>CONSOLE LOG</p>
                    <%=status%>
                    <table id='console_textarea' name='console_textarea'>
                        
                        <% for(r in results) { %>
                        <tr>
                        <th><%=results[r].ID%></th>
                        <th><%=results[r].CountryName%></th>
                        <th><%=results[r].SeriesName%></th>
                        <th><%=results[r].Data%></th>
                        </tr>
                        <% } %>
                    </table>
                </div>
            </section><br><br><br>
        </div>
        </form>
    </body>
</html>